<swiper-container
  appSwiper
  #swiper
  [config]="swiperConfig"
  thumbs-swiper=".mySwiper2"
>
  @for (s of similars; track $index) {
  <swiper-slide>
    <div class="similar-item similar-item--style2">
      <a href="/ad/detail/{{ s._id }}">
        <div class="img-box">
          <div class="img-box-inner">
            <img src="{{ s.photos[0] }}" alt="" />
          </div>
        </div>
        <div class="d-flex flex-column align-items-center">
          <div class="title d-flex flex-column justify-content-center">
            <h6>
              <a>{{ s.brand }} {{ s.car_model }} {{ s.version }}</a>
            </h6>
          </div>
          <p class="price">
            <span class="starting"></span> {{ s.price | number : "1.0-0" }}
            {{ currency }}
          </p>
        </div>
      </a>
    </div> </swiper-slide
  >}
</swiper-container>
