<title>Annonces du jour</title>

<breadcrumb
  [title]="'Annonces du jour (' + count + ')'"
  backgroundImgPath="assets/images/backgrounds/mag.jpg"
/>

<section class="ads">
  <div class="container">
    <div
      style="
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 300px;
      "
      *ngIf="ads.length == 0"
    >
      <img
        style="height: 250px"
        src="assets/images/backgrounds/empty-comp.gif"
        alt=""
      />
      <h4 style="color: gray; font-family: monospace">
        Aucune annonce de voitures d'occasion n'a été publiée aujourd'hui.
      </h4>
    </div>
  </div>
  <div class="container">
    <!-- <div class="loadingSpinner" *ngIf="isloading">
      <mat-spinner></mat-spinner>
      <br />
      <span>Chargement ...</span>
    </div> -->
    <div class="row" *ngIf="ads.length != 0">
      <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6" *ngFor="let ad of ads">
        <div
          class="ad-box"
          style="border-top-left-radius: 10px; border-top-right-radius: 10px"
        >
          <div class="ad-imgs">
            <div>
              <div class="labels-down">
                <div>
                  <span class="label-year">{{ ad.year }}</span>
                </div>
              </div>
              <!-- <div class="labels-left">
                                        <div>
                                            <span class="label">Pro</span>
                                        </div>
                                    </div> -->
              <div class="seen-data">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="feather feather-camera"
                >
                  <path
                    d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"
                  ></path>
                  <circle cx="12" cy="13" r="4"></circle>
                </svg>
                <span>{{ ad.photos.length }}</span>
              </div>
              <!-- <div class="overlay-property-box">
                <a
                  *ngIf="comparateur.indexOf(s._id) === -1"
                  (click)="addToCompare(s._id)"
                  class="effect-round mb-1"
                  data-bs-toggle="tooltip"
                  data-bs-placement="left"
                  title="Ajoter au comparateur"
                  data-bs-original-title="Compare"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="feather feather-shuffle"
                  >
                    <polyline points="16 3 21 3 21 8"></polyline>
                    <line x1="4" y1="20" x2="21" y2="3"></line>
                    <polyline points="21 16 21 21 16 21"></polyline>
                    <line x1="15" y1="15" x2="21" y2="21"></line>
                    <line x1="4" y1="4" x2="9" y2="9"></line>
                  </svg>
                </a>

                <a
                  *ngIf="comparateur.indexOf(s._id) !== -1"
                  (click)="removeFromCompare(s._id)"
                  class="effect-round mb-1"
                  data-bs-toggle="tooltip"
                  data-bs-placement="left"
                  title="Retirer du comparateur"
                  data-bs-original-title="Compare"
                  style="
                    background-color: var(
                      --bs-form-invalid-border-color
                    ) !important;
                  "
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="white"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="feather feather-shuffle"
                  >
                    <polyline points="16 3 21 3 21 8"></polyline>
                    <line x1="4" y1="20" x2="21" y2="3"></line>
                    <polyline points="21 16 21 21 16 21"></polyline>
                    <line x1="15" y1="15" x2="21" y2="21"></line>
                    <line x1="4" y1="4" x2="9" y2="9"></line>
                  </svg>
                </a>
              </div> -->
            </div>

            <swiper-container
              appSwiper
              #swiper
              [config]="swiperConfig"
              thumbs-swiper=".mySwiper2"
              (slidechange)="slideChange($event)"
            >
              <swiper-slide
                *ngFor="let img of ad.photos | slice : 0 : 5"
                class="swiper2"
              >
                <img
                  style="
                    border-top-left-radius: 10px;
                    object-fit: cover;
                    height: 300px;
                    width: 100%;
                    border-top-right-radius: 10px;
                  "
                  [src]="img"
                  class="bg-img"
                  alt=""
                />
              </swiper-slide>
            </swiper-container>
          </div>

          <div
            class="title"
            style="background-color: var(--bs-gray-800); padding: 10px"
          >
            <h6
              style="color: white; cursor: pointer"
              class="mb-1"
              routerLink="/ad/details/{{ ad._id }}"
            >
              {{ ad.brand }}
              {{ ad.model }}
              {{ ad.version }}
            </h6>
            <h5
              style="color: var(--bs-teal); text-align: right"
              class="mb-0 text-md-primary"
            >
              {{ ad.price | number : "1.0-0" }} DT
            </h5>
          </div>

          <div
            class="ad-data product_inner"
            style="
              border: 1px solid var(--bs-gray-300);
              margin-bottom: 50px;
              border-bottom-right-radius: 10px;
              padding: 10px;
              border-bottom-left-radius: 10px;
            "
          >
            <div>
              <span class="gov">{{ ad.horsepower }}</span>
            </div>
            <div
              class="d-flex"
              style="justify-content: space-between; padding: 1px 3px"
            >
              <!-- <div class="icon-text">
                <img
                  class="icon-img"
                  src="/assets/images/icon/shift.png"
                  alt=""
                />
                {{ ad.boite }}
              </div> -->
              <div class="icon-text">
                <img
                  class="icon-img"
                  src="/assets/images/icons/km.png"
                  alt=""
                />
                {{ ad.mileage | number : "1.0-0" }} km
              </div>
              <div class="icon-text">
                <img
                  class="icon-img"
                  src="/assets/images/icons/gauge.png"
                  alt=""
                />
                {{ ad.fuel_type }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <mat-paginator
      [length]="count"
      [pageSize]="pageSize"
      label=""
      (page)="OnPageChange($event)"
    >
    </mat-paginator>
    <br />
  </div>
</section>
