<button
  #popOver1="ngbPopover"
  type="button"
  class="filter"
  [autoClose]="'outside'"
  [ngbPopover]="BrandFilter"
  placement="bottom-left"
  popoverClass="ppp"
>
  Marques
</button>

<ng-template #BrandFilter style="margin-left: 20px">
  <h6>Choisir une marque</h6>
  <br />
  <div class="scrollable-container">
    @for (brand of brands; track $index) {
    <label class="brand-title" [class.selected-brand]="isSelected(brand)">
      >
      <input
        type="checkbox"
        [name]="brand.name"
        [value]="brand"
        [hidden]="true"
        (click)="toggleBrand(brand)"
      />
      {{ brand.name }}
    </label>
    }
  </div>

  <hr />
  <div class="btns2" role="group" aria-label="Button Group">
    <a class="reset" (click)="resetBrands()">Réinitialiser</a>
    <a class="applay" (click)="UpdateResult()">Appliquer</a>
  </div>
</ng-template>
