<title>Mon Compte</title>

<div class="cards-deails-content-box">
  <div class="cards-deails-content-1">
    <panel-title title="Tableau de bord" />
    <div class="inner-title">
      <h5>Accès Rapide</h5>
    </div>
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-6">
        <div class="card-details-single-features-box">
          <div class="single-benefits-box">
            <div class="btnrapid">
              <img
                style="height: 36px; width: 36px"
                src="assets/images/icons/car.png"
                alt=""
              />

              <h3>Mes Annonces</h3>
            </div>

            <hr />
            <h6>Vous avez {{ highlight.adsCount }} annonces publiés</h6>
          </div>
        </div>
      </div>

      <div class="col-xl-6 col-lg-6 col-md-6">
        <div class="card-details-single-features-box">
          <div class="single-benefits-box">
            <div class="btnrapid">
              <img
                style="height: 36px; width: 36px"
                src="assets/images/icons/notification.png"
                alt=""
              />

              <h3>Mes Alertes</h3>
            </div>

            <hr />
            <h6>Vous avez 0 alertes configurés</h6>
          </div>
        </div>
      </div>

      <div class="col-xl-6 col-lg-6 col-md-6">
        <div class="card-details-single-features-box">
          <div class="single-benefits-box">
            <div class="btnrapid">
              <img
                style="height: 36px; width: 36px"
                src="assets/images/icons/favorite.png"
                alt=""
              />

              <h3>Sauvegardées</h3>
            </div>

            <hr />
            <h6>Vous avez {{ highlight.savedCount }} annonces sauvegardées</h6>
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6">
        <div class="card-details-single-features-box">
          <div class="single-benefits-box">
            <div class="btnrapid">
              <img
                style="height: 36px; width: 36px"
                src="assets/images/icons/search.png"
                alt=""
              />

              <h3>Mes Recherches</h3>
            </div>

            <hr />
            <h6>Vous avez 0 recherches sauvegardées</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
