<div class="thm-sidebar-box">
  <!-- Search Box -->
  <div class="single-sidebar-box">
    <div class="sidebar-title">
      <div class="dot-box"></div>
      <h3>Rechercher</h3>
    </div>
    <div class="sidebar-search-box">
      <!-- Search Form -->
      <form class="search-form" action="#">
        <input placeholder="Mot Clé" type="text" id="key" />
        <!-- Trigger search method on button click -->
        <button>
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </form>
    </div>
  </div>

  <!-- Categories Box -->
  <div class="single-sidebar-box">
    <div class="sidebar-title">
      <div class="dot-box"></div>
      <h3>Catégories</h3>
    </div>
    <!-- List of Categories -->
    <ul class="sidebar-categories-box"></ul>
  </div>

  <!-- Sidebar Banner Box -->
  <div class="sidebar-banner-box">
    <div class="top-box float-bob-y"></div>
    <div class="bottom-box float-bob-x"></div>
    <div class="logo-box">
      <img src="assets/images/logo/logo-sm-light.png" alt="" />
    </div>
    <h3>Vous souhaitez vendre votre voiture</h3>
    <!-- Features List -->
    <ul>
      <li>
        <span><i class="fa-solid fa-check"></i></span> Visibilité Maximale
      </li>
      <li>
        <span><i class="fa-solid fa-check"></i></span> Simplicité du Processus
      </li>
    </ul>
    <!-- Call-to-Action Buttons -->
    <div class="btns-box">
      <a class="btn-one" routerLink="/create-ad">
        <span class="txt">Créer Maintenant</span>
      </a>
    </div>
  </div>
</div>
