<div class="thm-sidebar-box">
  <!-- Search Box -->
  <div class="single-sidebar-box">
    <div class="sidebar-title">
      <div class="dot-box"></div>
      <h3>Rechercher</h3>
    </div>
    <div class="sidebar-search-box">
      <!-- Search Form -->
      <div class="search-form">
        <input
          placeholder="Mots Clés"
          type="text"
          [(ngModel)]="keywords"
          (keyup.enter)="updateArticlesResult()"
        />
        <!-- Trigger search method on button click -->
        <button (click)="updateArticlesResult()">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </div>
    </div>
  </div>

  <!-- Categories Box -->
  <div class="single-sidebar-box">
    <div class="sidebar-title">
      <div class="dot-box"></div>
      <h3>Catégories</h3>
    </div>
    <!-- List of Categories -->
    <ul class="sidebar-categories-box">
      <li [ngClass]="{ activeCat: selectedCategory == '' }">
        <a (click)="selectCategory('')">Tout</a>
      </li>
      @for(category of categories; track $index){
      <li [ngClass]="{ activeCat: selectedCategory == category }">
        <a (click)="selectCategory(category)">{{ category }}</a>
      </li>
      }
    </ul>
  </div>

  <!-- Sidebar Banner Box -->
  <div class="sidebar-banner-box">
    <div class="top-box float-bob-y"></div>
    <div class="bottom-box float-bob-x"></div>
    <div class="logo-box">
      <img src="assets/images/logo/logo-sm-light.png" alt="" />
    </div>
    <h3>Vous souhaitez vendre votre voiture</h3>
    <!-- Features List -->
    <ul>
      <li>
        <span><i class="fa-solid fa-check"></i></span> Visibilité Maximale
      </li>
      <li>
        <span><i class="fa-solid fa-check"></i></span> Simplicité du Processus
      </li>
    </ul>
    <!-- Call-to-Action Buttons -->
    <div class="btns-box">
      <a class="btn-one" routerLink="/create-ad">
        <span class="txt">Créer Maintenant</span>
      </a>
    </div>
  </div>
</div>
