<title>Les voitures de {{ brand.name | titlecase }}</title>

<breadcrumb
  [brandName]="brand.name"
  [brandIcon]="brand.icon"
  backgroundImgPath="assets/images/backgrounds/showroom.jpg"
/>

<section class="career-details-area">
  <div class="container">
    <sort-new-ads [brand]="brand.name" />
    <div class="row models">
      @for (model of models; track trackByFn($index,model)) {
      <div class="product col-xl-4 col-l-4 col-md-4">
        @if(model.promo){
        <div *ngIf="model.promo" class="ribbon-promo">Promo</div>
        }@else if(model.new){
        <div *ngIf="model.new" class="ribbon-new">Nouveau</div>
        }
        <a routerLink="/new/{{ model.brand }}/{{ model.model }}">
          <div class="model-name">
            <h4 class="model-text">
              {{ model.brand | uppercase }} {{ model.model | uppercase }}
            </h4>
            <hr class="line1" />
            <hr class="line2" />
          </div>
          <img class="img-car" [src]="model.preview" width="300" />

          <div class="product_inner">
            <div class="icon-row">
              <div class="icon2">
                <img
                  class="icon-img"
                  src="/assets/images/icons/accelerate.png"
                  alt=""
                />
                <span class="icon-text">{{ model.top_acceleration }}</span>
              </div>
              <div class="icon2">
                <img
                  class="icon-img"
                  src="/assets/images/icons/speedometer.png"
                  alt=""
                />
                <span class="icon-text">{{ model.top_speed }}</span>
              </div>
              <div class="icon2">
                <img
                  class="icon-img"
                  src="/assets/images/icons/battery.png"
                  alt=""
                />
                <span class="icon-text">{{ model.top_autonomy }}</span>
              </div>
            </div>
            <div class="price">
              <p>
                <span class="startingfrom">à partir de </span
                >{{ model.versions[0]?.price | number : "1.0-0" }}
                {{ currency }}
              </p>
            </div>
          </div>
        </a>
      </div>
      }
    </div>
  </div>
</section>
