.price {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--thm-base);
}

.price span {
  color: #b8b4b1 !important;
}

.starting {
  font-size: 0.8rem;
  color: #4b4b4b;
}

.img-box-inner img {
  object-fit: contain;
  height: 150px;
}
.title {
  height: 50px;
  text-align: center;
}
.similar-item {
  cursor: pointer;
}
