<!-- Main Section for Account Details -->
<section class="cards-details-area">
  <div class="container">
    <div class="row">
      <!-- Sidebar Section -->
      <div class="col-xl-4">
        <div class="sidebar-box-style2">
          <div class="single-sidebar-box-style1">
            <!-- Displaying User Information -->
            <div *ngIf="user" class="sidebar-title">
              <img
                id="user-pic"
                src="{{ user.avatar ?? 'assets/images/icons/user-1.jpg' }}"
                alt=""
              />
              <span>&nbsp;&nbsp;</span>
              <h4>{{ user.name | titlecase }}</h4>
            </div>

            <!-- Card Types Navigation -->
            <div class="card-types-box">
              <ul>
                <li [class.active]="selectedSection == 'dashboard'">
                  <a routerLink="/user/dashboard"> Tableau de bord</a>
                </li>
                <li [class.active]="selectedSection == 'mes-annonces'">
                  <a routerLink="/user/ads">Mes Annonces</a>
                </li>

                <li [class.active]="selectedSection == 'saved'">
                  <a routerLink="/user/saved">Annonces Sauvegardées</a>
                </li>

                <li [class.active]="selectedSection == 'profile'">
                  <a routerLink="/user/profile">Mon Profile</a>
                </li>

                <li [class.active]="selectedSection == 'parametres'">
                  <a routerLink="/user/parametres">Paramètres</a>
                </li>
                <li>
                  <a id="logout" (click)="signOut()">Déconnexion</a>
                </li>
              </ul>
            </div>
          </div>

          <!-- Border Box Section -->
          <div class="border-box-1"></div>

          <new-ad-banner />
        </div>
      </div>

      <!-- Main Content Section -->
      <div class="col-xl-8">
        <!-- Router Outlet for Dynamic Component Rendering -->
        <router-outlet />
      </div>
    </div>
  </div>
</section>
