<header
  class="main-header main-header-style1"
  [ngClass]="{ 'sticky-header': isSticky }"
>
  <nav class="main-menu main-menu-style1">
    <div class="main-menu__wrapper clearfix">
      <div class="container">
        <div class="main-menu__wrapper-inner">
          <div class="main-menu-style1-left">
            <div class="logo-box-style1">
              <a routerLink="/">
                <img
                  style="height: 40px"
                  src="assets/images/logo/logo.png"
                  alt="Awesome Logo"
                />
              </a>
            </div>

            <div class="main-menu-box">
              <a class="mobile-nav__toggler" (click)="toggleMobileNav()">
                <i class="fa-solid fa-bars"></i>
              </a>

              <ul class="main-menu__list">
                <li
                  *ngFor="let item of menuItems"
                  [ngClass]="[item.children ? 'dropdown' : '']"
                >
                  <a *ngIf="!item.children" [routerLink]="item.link">{{
                    item.label
                  }}</a>
                  <a *ngIf="item.children">{{ item.label }}</a>
                  <ul *ngIf="item.children">
                    <li *ngFor="let child of item.children">
                      <a [routerLink]="child.link">{{ child.label }}</a>
                    </li>
                  </ul>
                </li>
                <div class="remp">
                  <div class="header-btn-one">
                    <a routerLink="/ad/create" style="border-radius: 10px">
                      <i class="fa-solid fa-circle-plus"></i>
                    </a>
                    <a
                      class="style2"
                      routerLink="/user/dashboard"
                      style="border-radius: 10px"
                    >
                      <i class="fa-solid fa-circle-user"></i>
                    </a>
                  </div>
                </div>
              </ul>
            </div>
          </div>

          <div class="main-menu-style1-right">
            <div class="header-btn-one">
              <a routerLink="/ad/create">
                <i class="fa-solid fa-circle-plus"></i>
                Publier une annonce
              </a>
              <a class="style2" routerLink="/user/dashboard">
                <i class="fa-solid fa-circle-user"></i>&nbsp;
                <span *ngIf="auth.isAuthenticated()">Mon Compte</span>
                <span *ngIf="!auth.isAuthenticated()">Se Connecter</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>

<div class="mobile-nav__wrapper" [ngClass]="{ expanded: isMobileNavExpanded }">
  <div class="mobile-nav__overlay" (click)="toggleMobileNav()"></div>
  <div class="mobile-nav__content">
    <span class="mobile-nav__close" (click)="toggleMobileNav()">
      <i class="fas fa-plus"></i>
    </span>
    <div class="logo-box">
      <a routerLink="/" aria-label="logo image">
        <img src="/assets/images/logo/logo.png" alt="" style="height: 30px" />
      </a>
    </div>
    <div class="mobile-nav__container">
      <div class="main-menu__list">
        <li
          *ngFor="let item of menuItems"
          [ngClass]="[item.children ? 'dropdown' : '']"
        >
          <a *ngIf="!item.children" [routerLink]="item.link">{{
            item.label
          }}</a>
          <a *ngIf="item.children"
            >{{ item.label }}<i class="fa fa-angle-down"></i
          ></a>
          <ul *ngIf="item.children">
            <li *ngFor="let child of item.children">
              <a [routerLink]="child.link">{{ child.label }}</a>
            </li>
          </ul>
        </li>
      </div>
    </div>
    <br /><br />

    <div>
      <ul>
        <li>
          <a style="color: white" routerLink="/ad/create">
            <i class="fa-solid fa-circle-plus"></i>
            Publier une annonce
          </a>
        </li>
        <br />
        <li>
          <a style="color: white" class="style2" routerLink="/user/dashboard">
            <i class="fa-solid fa-circle-user"></i>
            &nbsp;
            <span *ngIf="auth.isAuthenticated()">Mon Compte</span>
            <span *ngIf="!auth.isAuthenticated()">Se Connecter</span>
          </a>
        </li>
      </ul>
    </div>

    <br />

    <ul class="mobile-nav__contact list-unstyled">
      <li>
        <i class="fa fa-envelope"></i>
        <a href="mailto:info@example.com">contact&#64;xoauto.tn</a>
      </li>
    </ul>
  </div>
</div>
