<div class="row">
  <div class="col-l-12 col-xl-12 d-flex align-items-center">
    <h6 class="slider-title">Prix</h6>
    <mat-slider
      [min]="priceMin"
      step="500"
      [max]="priceMax"
      color="accent"
      discrete="true"
    >
      <input matSliderStartThumb [(ngModel)]="_adService.priceMin" />
      <input matSliderEndThumb [(ngModel)]="_adService.priceMax" />
    </mat-slider>

    <span class="slider-data"
      >{{ _adService.priceMin | number : "1.0-0" }} -
      {{ _adService.priceMax | number : "1.0-0" }}</span
    >
  </div>
</div>
