<div class="row details">
  <app-feature-table
    class="col-xl-6 col-l-6 col-md-6"
    title="Caractéristiques"
    iconPath="ic1.png"
    [features]="technical_sheet.features"
  ></app-feature-table>

  <app-feature-table
    class="col-xl-6 col-l-6 col-md-6"
    title="Motorisation"
    iconPath="ic2.png"
    [features]="technical_sheet.motor"
  ></app-feature-table>

  <app-feature-table
    class="col-xl-6 col-l-6 col-md-6"
    title="Transmission"
    iconPath="ic3.png"
    [features]="technical_sheet.transmission"
  ></app-feature-table>

  <app-feature-table
    class="col-xl-6 col-l-6 col-md-6"
    title="Performances"
    iconPath="ic4.png"
    [features]="technical_sheet.performance"
  ></app-feature-table>

  <app-feature-table
    class="col-xl-6 col-l-6 col-md-6"
    title="Consommation"
    iconPath="ic5.png"
    [features]="technical_sheet.consumption"
  ></app-feature-table>

  <app-feature-table
    class="col-xl-6 col-l-6 col-md-6"
    title="Dimensions"
    iconPath="ic6.png"
    [features]="technical_sheet.dimensions"
  ></app-feature-table>

  <app-feature-table
    class="col-xl-6 col-l-6 col-md-6"
    title="Assistance aux conducteurs"
    iconPath="ic12.png"
    [features]="technical_sheet.driving_aids"
  ></app-feature-table>

  <app-feature-table
    class="col-xl-6 col-l-6 col-md-6"
    title="Options du système audio et multimedia"
    iconPath="ic11.png"
    [features]="technical_sheet.multimedia"
  ></app-feature-table>

  <app-feature-table
    class="col-xl-6 col-l-6 col-md-6"
    title="Equipements Extérieurs"
    iconPath="ic7.png"
    [features]="technical_sheet.outdoor_equipment"
  ></app-feature-table>

  <app-feature-table
    class="col-xl-6 col-l-6 col-md-6"
    title="Équipements Intérieurs"
    iconPath="ic8.png"
    [features]="technical_sheet.indoor_equipment"
  ></app-feature-table>

  <app-feature-table
    class="col-xl-6 col-l-6 col-md-6"
    title="Équipements de sécurité"
    iconPath="ic9.png"
    [features]="technical_sheet.safety_equipment"
  ></app-feature-table>

  <app-feature-table
    class="col-xl-6 col-l-6 col-md-6"
    title="Équipements Fonctionnels"
    iconPath="ic10.png"
    [features]="technical_sheet.functional_equipment"
  ></app-feature-table>
</div>
