<section class="slogan-area">
  <div class="container">
    <div class="slogan-content-box">
      <div class="slogan-content-box-bg"></div>
      <div class="inner-title">
        <h2>Explorez une expérience exceptionnelle!</h2>
        <p>
          Restez à l'écoute, notre application mobile sera bientôt disponible.
        </p>
      </div>
      <div class="get-app-box">
        <ul>
          <li>
            <a>
              <div class="icon">
                <i class="fa-brands fa-google-play"></i>
              </div>
              <div class="text">
                <h4>Download</h4>
              </div>
            </a>
          </li>
          <li>
            <a class="style2">
              <div class="icon">
                <i class="fa-brands fa-apple"></i>
              </div>
              <div class="text">
                <h4>Download</h4>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
