<footer class="footer-area footer-area--style2">
  <!--Start Footer Top-->
  <div class="footer-top-style2">
    <div class="container">
      <div class="row">
        <div class="col-xl-7">
          <div class="footer-top-style2__left-content">
            <!--Start Our Company Info-->
            <div class="our-company-info">
              <div class="footer-logo-style1">
                <div class="logo d-flex">
                  <img
                    src="assets/images/logo/logo.png"
                    style="width: 200px"
                    alt=""
                  />
                </div>
              </div>
              <div class="bottom-text2">
                <p>
                  Découvrez une révolution dans le monde de l'achat et de la
                  vente d'automobiles en Tunisie ! Notre plateforme innovante va
                  transformer votre expérience et vous emmener vers de nouveaux
                  horizons.
                </p>
              </div>
              <br />
              <div>
                <div class="footer-social-link">
                  <ul class="clearfix">
                    <li>
                      <a href="https://www.facebook.com/xoauto.tn/">
                        <i class="fab fa-facebook-f"></i>
                      </a>
                    </li>

                    <li>
                      <a href="https://www.instagram.com/xoauto.tn/">
                        <i class="fab fa-instagram"></i>
                      </a>
                    </li>
                    <li>
                      <a href="https://www.linkedin.com/company/xoauto">
                        <i class="fab fa-linkedin"></i>
                      </a>
                    </li>
                    <li>
                      <a href="https://www.tiktok.com/@xoauto.tn">
                        <i class="fab fa-tiktok"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <!--End Our Company Info-->
          </div>
        </div>

        <div class="col-xl-5">
          <div class="footer-top-style2__right-content">
            <div class="footer-contact-info-style">
              <ul>
                <li>
                  <div class="icon">
                    <i class="fa-solid fa-envelope"></i>
                  </div>
                  <div class="text">
                    <h3>Contact</h3>
                    <p>
                      Par Mail:
                      <a href="mailto:contact&#64;xoauto.tn"
                        >contact&#64;xoauto.tn</a
                      >
                    </p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--End Footer Top-->

  <div class="footer-bottom-style2">
    <div class="container">
      <div class="bottom-inner">
        <div class="footer-menu">
          <ul>
            <li><a>&copy; 2024 XoAuto</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms & Conditions</a></li>
          </ul>
        </div>
        <div class="scrool-top-btn-style2">
          <a
            href="#"
            data-target="html"
            class="scroll-to-target scroll-to-top--style2"
          >
            <i class="fa-solid fa-arrow-up-right-from-square"></i>Revenir en
            haut
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
