<div class="sidebar-banner-box">
  <div class="top-box float-bob-y"></div>
  <div class="bottom-box float-bob-x"></div>
  <div class="logo-box">
    <img src="assets/images/logo/logo-sm-light.png" alt="" />
  </div>
  <h3>Vous souhaitez vendre votre voiture</h3>
  <!-- Features List -->
  <ul>
    <li>
      <span><i class="fa-solid fa-check"></i></span> Visibilité Maximale
    </li>
    <li>
      <span><i class="fa-solid fa-check"></i></span> Simplicité du Processus
    </li>
  </ul>
  <!-- Call-to-Action Buttons -->
  <div class="btns-box">
    <a class="btn-one" routerLink="/create-ad">
      <span class="txt">Créer Maintenant</span>
    </a>
  </div>
</div>
