.sidebar-banner-box {
  position: relative;
  display: block;
  background-color: #1a1c23;
  padding: 40px 30px 40px;
  overflow: hidden;
  z-index: 1;
}

.sidebar-banner-box .top-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 180px;
  height: 270px;
  background: #2b2d36;
  clip-path: polygon(0 0, 0% 100%, 100% 50%);
  z-index: -1;
}

.sidebar-banner-box .bottom-box {
  position: absolute;
  right: -30px;
  bottom: -50px;
  width: 180px;
  height: 270px;
  background-image: -moz-linear-gradient(
    0deg,
    rgb(138, 15, 61) 0%,
    rgb(207, 23, 60) 100%
  );
  background-image: -webkit-linear-gradient(
    0deg,
    rgb(138, 15, 61) 0%,
    rgb(207, 23, 60) 100%
  );
  background-image: -ms-linear-gradient(
    0deg,
    rgb(138, 15, 61) 0%,
    rgb(207, 23, 60) 100%
  );
  clip-path: polygon(0 50%, 100% 100%, 100% 0);
  z-index: -1;
}

.sidebar-banner-box .logo-box {
  position: relative;
  display: block;
}

.sidebar-banner-box .logo-box a {
  position: relative;
  display: inline-block;
}

.sidebar-banner-box h3 {
  color: #ffffff;
  font-size: 22px;
  line-height: 30px;
  margin: 34px 0 15px;
}

.sidebar-banner-box ul {
  position: relative;
  display: block;
}

.sidebar-banner-box ul li {
  position: relative;
  display: block;
  color: #ffffff;
  font-size: 16px;
}

.sidebar-banner-box ul li + li {
  margin-top: 11px;
}

.sidebar-banner-box ul li span {
  position: relative;
  display: inline-block;
  padding-right: 10px;
  color: var(--thm-base);
}

.sidebar-banner-box .btns-box {
  position: relative;
  display: block;
  line-height: 0;
  padding-top: 33px;
}

.sidebar-banner-box .btns-box a {
  width: 100%;
  line-height: 52px;
  text-align: center;
}
