<section class="breadcrumb-area">
  <!-- Background Image for Breadcrumb Area -->
  <div
    class="breadcrumb-area-bg"
    [style.background-image]="'url(' + backgroundImgPath + ')'"
  ></div>
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        @if(title){
        <div class="inner-content">
          <div class="title">
            <h2>{{ title }}</h2>
          </div>
        </div>
        }@else if(brandName){
        <div class="resume-box__two">
          <div class="img-logo">
            <img src="assets/images/brands/{{ brandIcon }}" alt="" />
            <h4>{{ brandName }}</h4>
          </div>
        </div>
        }
      </div>
    </div>
  </div>
</section>
